{
    "source": {
        "directories": [
            "badge\/src"
        ],
        "excludes": [
            "Infrastructure\/FakeBitbuketServer",
            "Infrastructure\/FakeGithubServer",
            "Infrastructure\/FakePackagistServer",
            "Infrastructure/Env.php"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "text": "var\/infection\/infection-log.txt",
        "summary": "var\/infection\/infection-summary.txt",
        "perMutator": "var\/infection\/per-mutator.md"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 65,
    "minCoveredMsi": 70,
    "timeout": 25,
    "testFramework":"phpunit",
    "bootstrap":"./infection-bootstrap.php"
}