parameters:
	ignoreErrors:
		-
			message: "#^Method Badge\\\\AdapterForReadingBadgeContextValues\\\\PackagistContextValueReader\\:\\:readLicense\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: badge/src/AdapterForReadingBadgeContextValues/PackagistContextValueReader.php

		-
			message: "#^Method Badge\\\\AdapterForReadingBadgeContextValues\\\\PackagistContextValueReader\\:\\:readStableVersion\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: badge/src/AdapterForReadingBadgeContextValues/PackagistContextValueReader.php

		-
			message: "#^Method Badge\\\\AdapterForReadingBadgeContextValues\\\\PackagistContextValueReader\\:\\:readUnstableVersion\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: badge/src/AdapterForReadingBadgeContextValues/PackagistContextValueReader.php

		-
			message: "#^Parameter \\#1 \\$versions of static method Badge\\\\Infrastructure\\\\ReleasedVersions\\:\\:fromApiData\\(\\) expects array\\<array\\<Packagist\\\\Api\\\\Result\\\\Package\\\\Version\\>\\>, array\\<Packagist\\\\Api\\\\Result\\\\Package\\\\Version\\> given\\.$#"
			count: 3
			path: badge/src/AdapterForReadingBadgeContextValues/PackagistContextValueReader.php

		-
			message: "#^Offset 4 does not exist on array\\{0\\?\\: string, 1\\?\\: 'https', 2\\?\\: '\\://'\\|'@', 3\\?\\: non\\-empty\\-string, 4\\?\\: non\\-empty\\-string, 5\\?\\: non\\-empty\\-string\\}\\.$#"
			count: 1
			path: badge/src/Application/Domain/Model/RepositoryDetail.php

		-
			message: "#^Offset 5 does not exist on array\\{0\\?\\: string, 1\\?\\: 'https', 2\\?\\: '\\://'\\|'@', 3\\?\\: non\\-empty\\-string, 4\\?\\: non\\-empty\\-string, 5\\?\\: non\\-empty\\-string\\}\\.$#"
			count: 1
			path: badge/src/Application/Domain/Model/RepositoryDetail.php

		-
			message: "#^Static property Badge\\\\Infrastructure\\\\ReleasedVersions\\:\\:\\$modifierRegex is never read, only written\\.$#"
			count: 1
			path: badge/src/Infrastructure/ReleasedVersions.php

		-
			message: "#^Property Badge\\\\Tests\\\\Acceptance\\\\AcceptanceTestCase\\:\\:\\$application \\(Badge\\\\Application\\\\BadgeApplicationInterface\\) does not accept null\\.$#"
			count: 1
			path: badge/tests/Acceptance/AcceptanceTestCase.php

		-
			message: "#^Constant Badge\\\\Tests\\\\Acceptance\\\\StableVersionUseCaseTest\\:\\:TEXT_NO_STABLE_RELEASE is unused\\.$#"
			count: 1
			path: badge/tests/Acceptance/StableVersionUseCaseTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/Acceptance/StableVersionUseCaseTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/Acceptance/UnstableVersionUseCaseTest.php

		-
			message: "#^Property Badge\\\\Tests\\\\E2E\\\\ComposerLockRequestTest\\:\\:\\$application is never read, only written\\.$#"
			count: 1
			path: badge/tests/E2E/ComposerLockRequestTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/E2E/ComposerLockRequestTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/Unit/Adapter/DefaultBranchDetectorTest.php

		-
			message: "#^PHPDoc tag @var for property Badge\\\\Tests\\\\Unit\\\\Domain\\\\CountNormalizerTraitTest\\:\\:\\$countNormalizerTrait contains unresolvable type\\.$#"
			count: 1
			path: badge/tests/Unit/Domain/CountNormalizerTraitTest.php

