includes:
    - phpstan-baseline.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 8
	paths:
		- badge/src
		- badge/tests
	excludePaths:
		- badge/tests/Discovery/*
		- badge/tests/PHPUnitExtension/*
		- badge/tests/Support/DomainBuilder/*
