parameters:
	ignoreErrors:
		-
			message: "#^Method Badge\\\\Adapter\\\\Out\\\\PackagistContextValueReader\\:\\:readStableVersion\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: badge/src/Adapter/Out/PackagistContextValueReader.php

		-
			message: "#^Parameter \\#1 \\$versions of static method Badge\\\\Infrastructure\\\\ReleasedVersions\\:\\:fromApiData\\(\\) expects array\\<array\\<Packagist\\\\Api\\\\Result\\\\Package\\\\Version\\>\\>, array\\<Packagist\\\\Api\\\\Result\\\\Package\\\\Version\\> given\\.$#"
			count: 2
			path: badge/src/Adapter/Out/PackagistContextValueReader.php

		-
			message: "#^Method Badge\\\\Adapter\\\\Out\\\\PackagistContextValueReader\\:\\:readUnstableVersion\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: badge/src/Adapter/Out/PackagistContextValueReader.php

		-
			message: "#^Property Badge\\\\Tests\\\\Acceptance\\\\AcceptanceTestCase\\:\\:\\$application \\(Badge\\\\Application\\\\BadgeApplicationInterface\\) does not accept null\\.$#"
			count: 1
			path: badge/tests/Acceptance/AcceptanceTestCase.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/Acceptance/ComposerLockUseCaseTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/E2E/ComposerLockRequestTest.php

		-
			message: "#^Property Badge\\\\Tests\\\\Integration\\\\GetDefaultBranchFromGithubApiTest\\:\\:\\$githubClient \\(Github\\\\Client\\) does not accept null\\.$#"
			count: 1
			path: badge/tests/Integration/GetDefaultBranchFromGithubApiTest.php

		-
			message: "#^Property Badge\\\\Tests\\\\Integration\\\\GetDefaultBranchFromGithubApiTest\\:\\:\\$bitbucketClient \\(Bitbucket\\\\Client\\) does not accept null\\.$#"
			count: 1
			path: badge/tests/Integration/GetDefaultBranchFromGithubApiTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: badge/tests/Unit/Adapter/DefaultBranchDetectorTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: badge/tests/Unit/Adapter/PackagistContextValueReaderTest.php

		-
			message: "#^Property Badge\\\\Tests\\\\Unit\\\\Domain\\\\CountNormalizerTraitTest\\:\\:\\$countNormalizerTrait has invalid type Badge\\\\Application\\\\Domain\\\\Model\\\\ContextValue\\\\Common\\\\CountNormalizerTrait\\.$#"
			count: 1
			path: badge/tests/Unit/Domain/CountNormalizerTraitTest.php

		-
			message: "#^Property Badge\\\\Tests\\\\Unit\\\\Domain\\\\CountNormalizerTraitTest\\:\\:\\$countNormalizerTrait \\(Badge\\\\Application\\\\Domain\\\\Model\\\\ContextValue\\\\Common\\\\CountNormalizerTrait&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) does not accept PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: badge/tests/Unit/Domain/CountNormalizerTraitTest.php

		-
			message: "#^Call to method normalize\\(\\) on an unknown class Badge\\\\Application\\\\Domain\\\\Model\\\\ContextValue\\\\Common\\\\CountNormalizerTrait\\.$#"
			count: 1
			path: badge/tests/Unit/Domain/CountNormalizerTraitTest.php

